/*
 * Base structure
 */

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular-webfont.ttf');
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #f1f1f1;
  font-family: 'Oswald';
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
/*.sidebar {
  display: none;
}*/
.sidebar-nav > p {
  font-family: 'Helvetica';
  font-size: 22px;
  color: #61605e;
  text-align: center;
  margin-top: 35px;
  background:#fff;
}
.navbar-default{
  background:#fff;
  border-radius: 0px;
  box-shadow: none;
}
.navbar-brand{
  margin-left: 13px;
  padding: 4px 15px;
}
.navbar{
    min-height: 60px;
}
.logo{
  height: 46px;
}
/*@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /*  background-color: #fff;
    border-right: 1px solid #eee;
  }
}*/

/* Sidebar navigation */
/*.nav-sidebar {
  margin-top: 18px;
  margin-right: -21px; /* 20px padding + 1px border */
  /*margin-bottom: 20px;
  margin-left: -9px;
  background-color: #fff;
}*/
.nav-sidebar{
    margin-top: 29px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #909090;
  font-size: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #36bcc5;
}

.nav > li{
  margin-left: 13px;
  margin-right: 6px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #fff;
}
.nav>li>a {
  padding: 9px 15px;
}
.navbar-white{
  background-color: #fff;
  border-bottom: 2px solid #a1a1a1;
}
.fa-angle-right{
  font-weight: 800;
  float:right;
  color:#c5c5c5;
}
.form-group {
  margin-bottom: 23px;
}
/*
 * Sidebar right
 */
.sidebar-right{
  background-color: #f4f4f4;
  border-right: 1px solid #eee;
  font-family: 'Helvetica';
  min-height: 952px;
  padding-left: 17px;
  padding-right: 17px;
}

.fa-info-circle{
  font-size: 60px;
  color:#666666;
  display: block;
  width: 52px;
  margin: 0 auto;
}
.div-fa-info{
  margin-top: 57px;
  margin-bottom: 17px;
  width: 100%;
  display: block;
}

.sidebar-right > p{
    text-align: justify;
}
.text-red{
  color:#fb0000;
}



/*
 * Main content
 */

.text-decoration{
  text-decoration: none !important;
}

h2{
  text-align: center;
  color:#36bcc5;
}
h3{
    line-height: 1.28;
}

label{
  margin-bottom: 4px;
  min-width: 125px;
  font-weight: normal !important;
}
input, label, textarea{
  font-family: 'Helvetica';
  resize:vertical;
}
.first-header{
padding-top: 35px;
margin:0;
}

#page-wrapper p{
  font-family: 'Helvetica';
}
#page-wrapper a {
  color: #36bcc5;
  text-decoration: underline;
}
#page-wrapper .row{
    margin-bottom: 16px;
}

.center-column{
  padding-left: 25px;
  padding-right: 25px;
}

.row-amount{
    margin-bottom: 45px !important;
    margin-top: 43px;
}
.row-next{
    margin-top: 64px;
}
.first-row{
  margin-top: 39px;
}
/*
 * Slider Amount
 */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #270712;
  border: 1px solid #270712;
  font-weight: bold;
  border-radius: 8px;
  opacity: 0.4;
}
.ui-widget-header {
  border: 1px solid #e78f08;
  background: #da1c5c;
  color: #fff;
  font-weight: bold;
}
#amount_min , #amount_max{
  font-weight: bold;
  font-size: 12px;
  font-family: 'Helvetica';
  background-color: transparent;
  margin-top: 10px;
}
#amount_max{
  float: right;
  text-align: right;
}
#tot_min, #tot_max{
  font-size: 24px;
  background-color: transparent;
  color: #36bcc5;
  width: 30px;
}
.btn-enter,
.btn-enter:hover,
.btn-enter:active:focus,
.btn-enter:focus,
.btn-enter:active{
  background-color: #36bcc5 !important;
  color:#fff;
  margin-top:20px;
  width: 100%;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/*
 * Footer
 */
 .footer{
  padding-top:36px;
  border-top:2px solid #a1a1a1;
  background-color: #fff;
  text-align: center;
  font-size: 19px;
  color: #909090;
 }

 .footer li{
  margin-bottom:20px;
 }

 .footer .fa{
  margin-right:10px;
 }

 .footer ul{
  list-style: none;
 }

 #slider-range span{
  cursor:pointer;
 }
 .calendar{
  border-top-right-radius: 4px !important;
  border-bottom-right-radius:4px !important;
  border-left: 0px;
 }
 #input1, #input2, #input3{
    min-width: 111px;
 }
 .footer-column{
  width: 190px;
  display: inline-block;
  text-align: left;
  margin-bottom: 25px;
 }